<div class="header">
    <div id="logo" onclick="lb.router.go('/')">
        <span id="logo-light"> light </span>
        <span id="logo-dark"> box </span>
        <span id="logo-light-small"> l </span>
        <span id="logo-dark-small"> b </span>
    </div>

    <input
        type="text"
        id="search_box" 
        class="centered"
        placeholder="search"
        onkeypress="lb.controller.search(arguments[0])">

    </div>
</div>

<!-- to hold all thumbnails -->
<div id="gallery-container" onclick="lb.controller.openModal(arguments[0])">
</div>

<div id="load-btn" unselectable="on" onclick="lb.controller.load(arguments[0])">
    <a> Load more </a>
</div>

<div id="modal">

    <div id="modal-layer"></div>

    <img id="lb-image" class="centered" onerror="this.src='app/styles/no_image.jpg'">

    <div id="modal-navs">
        <div id="close-modal" class="modal-btn" onclick="lb.controller.closeModal(arguments[0])">
            X
        </div>

        <!-- NEED TO STRETCH TO LEFT HALF & RIGHT HALF -->
        <div class="pull-left modal-nav modal-btn" id="modal-nav-prev" onclick="lb.controller.loadPrevImg(arguments[0])">
            <span> < </span>
        </div>

        <div class="pull-right modal-nav modal-btn" id="modal-nav-next" onclick="lb.controller.loadNextImg(arguments[0])">
            <span> > </span>
        </div>
    </div>

</div>

<div id="error">

    <div id="error-layer"></div>

    <div id="error-message" class="centered">
        <div id="error-message-title">Oops.</div>
        <div id="error-message-subtitle"></div>
        <div id="go-back" onclick="lb.controller.hideError(arguments[0])"> Go Back </div>
    </div>

</div>